  <header>
    <div class='title'>
    <h1>La botonera du barrio</h1>
    <img src='/images/partials/nazario.png'>
    </div>
    <ol class='user'>
      <ul><a href='/user/login'>Ingresar</a></ul>
      <ul><a href='/user/register'>Registrarse</a></ul>
    </ol>
  </header>